.section.intro-header .intro-header-title .typed
{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13ch;

    animation: typing 2s steps(17),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% { border-color: transparent;}
    
}

body .icon {
    fill: #17151d;
}

.icon {
    max-height: 25px;
    max-width: 30px;
}

.section.with-us .with-us-columns .with-us-column .icon {
    margin-bottom: 15px;
}

.section.with-us .with-us-columns .with-us-column {
    display: flex;
}

@media (max-width: 1024px)
{
    .section.with-us .with-us-columns .with-us-column {
        flex-direction: column;
    }
}